* {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

body {
    background-color: #eaebed;
    min-height: 6000px;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.box_1 {
    width: 100%;
    height: 160px;
}

.box_2 {
    width: 100%;
    height: 70px;
}

.box_3 {
    width: 100%;
    height: 5730px;
}

.box_4 {
    width: 100%;
    height: 400px;
    /*border: 1px solid red;*/
}

.box_5 {
    width: 100%;
    height: 200px;
}


/*头部*/

.header {
    width: 100%;
    height: 160px;
}

.content {
    width: 1000px;
    height: 30px;
    margin: 0 auto;
    font-size: 12px;
    overflow: hidden;
}

.content_1 {
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    font-size: 12px;
}

.content_3 {
    width: 1000px;
    height: 80px;
    margin: 0 auto;
    font-size: 12px;
    overflow: hidden;
}

.con_f {
    width: 50%;
    height: 100%;
    float: left;
    line-height: 28px;
    /*border: 1px solid red;*/
}

.con_l {
    width: 26%;
    float: right;
    line-height: 28px;
}

.first {
    width: 100%;
    height: 30px;
    background-color: #222;
    color: #fff;
}


/*logo 和搜索框部分*/

.logo {
    width: 100%;
    height: 80px;
    background-color: #383838;
    color: #fff;
}

.con_logo {
    width: 35%;
    float: left;
    height: 70px;
}

.con_form {
    width: 200px;
    height: 26px;
    float: right;
    background-color: #222;
    color: #fff;
    margin-top: 30px;
}

.con_form input {
    background-color: #222;
    color: #fff;
    height: 26px;
    outline: medium;
    border: none;
}

.con_form buttom {
    background-color: #222;
    color: #fff;
    height: 30px;
}


/*导航部分*/

.menu {
    width: 100%;
    height: 50px;
    background-color: #222;
    color: #fff;
}

.nav {
    width: 90px;
    height: 50px;
    float: left;
    line-height: 50px;
    text-align: center;
}

.nav:hover {
    background-color: #fff;
}

.nav:hover a {
    color: #222;
}

.nav a {
    color: #fff;
}

.nav_a {
    width: 90px;
    height: 50px;
    float: left;
    line-height: 50px;
    text-align: center;
    background-color: #fff;
}

.nav_a a {
    color: black;
}


/*面包屑导航*/

.wrap {
    width: 100%;
    background-color: #eaebed;
    height: 100%;
}

.wrap_1 {
    width: 1000px;
    height: 150px;
    margin: 0 auto;
}


/*左部大图*/

.wrap_left {
    border-radius: 5px;
    width: 1000px;
    height: 50px;
    margin-top: 10px;
    background-color: #fff;
    float: left;
    line-height: 50px;
    color: slategray;
}

.wrap_left a {
    color: slategray;
}

.wrap_2 {
    width: 1000px;
    margin: 0 auto;
}


/*左边*/

.wrap_2_left {
    border-radius: 5px;
    width: 700px;
    margin-top: 10px;
    background-color: #fff;
    float: left;
}


/*标题*/

.wrap_2_left h1 {
    margin: 10px;
    font-family: "宋体";
    text-align: center;
}

.from {
    font-size: 12px;
    width: 96%;
    height: 28px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    color: slategray;
    margin: 0 auto;
}

.gjc {
    width: 96%;
    margin: 0 auto;
    margin-top: 20px;
    text-indent: 50px;
}

.gjc a {
    color: red;
}

.from_2 {
    font-size: 15px;
    width: 96%;
    height: 28px;
    border-bottom: 1px solid #ccc;
}

.from_2 a {
    color: slategray;
}

.yj {
    width: 96%;
    margin: 0 auto;
    margin: 20px 10px;
}

.yj a {
    color: slategray;
}


/*图片及内容*/

.photo {
    width: 96%;
    margin: 0 auto;
    margin-top: 20px;
}

.photo img {
    width: 100%;
    border-radius: 10px;
}

.eye {
    float: right;
    color: #ccc;
}

.next {
    background-color: darkorange;
    width: 100px;
    float: right;
    margin: 10px;
}

.next a {
    color: #fff;
}

.today {
    font-size: 12px;
    margin: 10px;
    color: #ccc;
}

.day {
    float: right;
}


/*右边*/

.wrap_2_right {
    width: 290px;
    float: right;
}

.wrap_right_1 {
    border-radius: 5px;
    width: 100%;
    background-color: #fff;
    float: right;
    margin-top: 10px;
}

.top {
    border-bottom: 1px solid #ccc;
    width: 95%;
    height: 30px;
    margin: 15px;
}

.moon_1 {
    border: 1px solid #ccc;
    width: 120px;
    text-align: center;
    float: left;
    margin: 10px 0px 10px 15px;
    background-color: #eaebed;
}

.moon_1 a {
    color: slategray;
}

.moon img {
    height: 200px;
    width: 90%;
    margin: 5px 15px 5px 15px;
    background-size: cover;
    border-radius: 5px;
}

.moon_2 p {
    text-align: center;
    margin-top: -40px;
    color: #ccc;
}

.moon_3 {
    height: 40px;
    width: 90%;
    margin: 15px;
}

.moon_3_1 {
    width: 22%;
    height: 40px;
    float: left;
    margin-right: 7px;
}

.moon_3_1 img {
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

.moon_4_1 {
    width: 90%;
    height: 80px;
    margin: 15px;
}

.mn_left {
    float: left;
    width: 45%;
    height: 80px;
}

.mn_left img {
    width: 100%;
    border-radius: 5px;
    height: 100%;
}

.mn_right {
    float: left;
    width: 45%;
    height: 40px;
    margin-left: 25px;
    background-size: cover;
    font-size: 13px;
    margin-top: 10px;
}

.mn_right a {
    color: slategray;
}

.lj {
    width: 70px;
    height: 26px;
    border-radius: 20px;
    background-color: darkorange;
    text-align: center;
    margin: 10px 0 0 10px;
}

.lj a {
    color: #fff;
    font-size: 13px;
}

.moon_5 {
    height: 240px;
    width: 90%;
    margin: 15px;
}

.moon_5_1 img {
    height: 120px;
    width: 100%;
    border-radius: 10px;
}

.moon_5_2 {
    margin: 5px 10px;
}

.moon_5_2 p {
    color: slategray;
    font-size: 13px;
    margin-top: 15px;
}

.moon_6 {
    height: 400px;
    width: 100%;
}

.mn_1 {
    height: 180px;
    width: 45%;
    float: left;
    margin: 10px 6px 0 6px;
}

.mn_1 a {
    color: slategray;
    font-size: 14px;
}

.moon_6_1 img {
    height: 120px;
    width: 100%;
}

.moon_7_1 {
    height: 200px;
    width: 90%;
    margin: 15px;
    background-image: url(../img/142914K31-0.png);
    background-size: cover;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
}

.moon_7_1 p {
    line-height: 380px;
    text-align: center;
}

.moon_8 {
    height: 200px;
    width: 90%;
    margin: 15px;
    background-image: url(../img/1-140316220Q1558.jpg);
    background-size: cover;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
}

.moon_8 p {
    line-height: 380px;
    text-align: center;
}

.moon_9 {
    height: 100px;
    width: 100%;
}

.moon_9_1 {
    height: 80px;
    width: 40%;
    margin: 10px 0 10px 20px;
    float: left;
}

.moon_9_1 img {
    height: 80px;
    width: 100%;
    border-radius: 5px;
}

.moon_9_2 {
    height: 70px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.moon_9_2_top {
    width: 22%;
    height: 60px;
    float: left;
    margin: 8px;
}

.moon_9_2_top img {
    width: 100%;
    height: 60px;
}

.moon_9_2_buttom {
    width: 70%;
    height: 60px;
    float: left;
    margin-top: 10px;
}

.moon_9_2_buttom div {
    font-size: 12px;
}

.moon_9_2_buttom a {
    color: slategray;
}

.moon_9_2_buttom p {
    font-size: 13px;
    color: slategray;
}

.moon_10 {
    border-bottom: 1px solid #ccc;
    width: 95%;
    height: 30px;
    margin: 14px;
}

.moon_10_1 {
    width: 10px;
    height: 10px;
    background-color: darkorange;
    float: left;
    margin-top: 5px;
}

.moon_10_2 {
    float: left;
    margin: 0 0 5px 10px;
    font-size: 13px;
    color: slategray;
}


/*友情链接*/

.box_center {
    width: 1000px;
    height: 400px;
    margin: 0 auto;
}

.friend {
    width: 700px;
    height: 350px;
    background-color: #fff;
    border-radius: 10px;
    margin: 15px 0;
}

.friend a {
    color: slategray;
}

.friend_top {
    width: 98%;
    height: 50px;
    border-bottom: 1px solid #ccc;
    margin: 0 auto;
    line-height: 50px;
}

.friend_bottom {
    width: 98%;
    height: 270px;
    margin: 10px 5px;
}

.friend_bottom_left {
    width: 50%;
    height: 270px;
    float: left;
}

.friend_bottom_left p {
    margin-left: 10px;
    margin-top: 5px;
}

.friend_image {
    width: 45%;
    height: 40%;
    border: 1px solid #ccc;
    float: left;
    margin: 10px 5px;
}

.friend_radius {
    width: 90%;
    height: 90%;
    margin: 5px 5px 5px 8px;
}

.friend_radius img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


/*尾部*/

.footer {
    width: 100%;
    height: 250px;
    background-color: #383838;
}

.footer_1 {
    width: 1000px;
    height: 150px;
    margin: 0 auto;
}

.footer_2 {
    width: 20%;
    height: 150px;
    float: left;
    margin-top: 60px;
}

.footer_2_1 {
    width: 100%;
    height: 80px;
    background-image: url(../img/logo2_03.png);
    background-size: cover;
}

.footer_2_2 {
    width: 100%;
    height: 80px;
}

.footer_img {
    width: 16%;
    height: 40px;
    float: left;
    margin: 10px 0 10px 5px;
}

.footer_3 {
    width: 16%;
    height: 150px;
    float: left;
    line-height: 30px;
    text-align: center;
    margin-top: 40px;
    color: #fff;
}

.footer_3 a {
    color: #ccc;
}